[Desktop Entry]
Name=インターホン
GenericName=Intercom
Path=/home/voice/intercom
Exec=/home/voice/intercom/intercom.sh
Comment=インターホン
Terminal=false
Icon=intercom
Type=Application
Categories=Audio;AudioVideo
